body {
  .searched-user {
    cursor: pointer;
    border: 2px solid black;
    transition: all 0.3s ease;
    margin: 10px auto;
    width: 30%;
    &:hover {
      background-color: aliceblue;
      transition: all 0.3s ease;
    }
  }
}

.leaderboard {
  margin: auto;
  padding: 1rem 2rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
  width: 70%;
  position: relative;
  font-size: 1rem;
}
.leaderboard .full-width {
  flex-basis: calc(100%); /* Adjust the margin as needed */
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.flex-item {
  flex-basis: calc(20%); /* Adjust the width and margin as needed */
  /* Adjust the width and margin as needed */
  padding: 5px;
  /* height: 50px; */
  /* border: 1px solid #ccc; */
  text-align: left;
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
}

.App_ {
  text-align: center;
  margin: 50px;



  .header_text {
    margin: 0;
  }

  .text_active {
    color: #4caf50;
  }

  .header_summary {
    margin-top: 5px;
  }

  .container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    width: 100%;
    gap: 50px;
  }

  .text_form {
    text-align: left;
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }

  label {
    margin-top: 10px;
  }

  input {
    padding: 10px;
    margin-bottom: 15px;
  }

  button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .summarized_text {
    text-align: left;
  }

  textarea {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    resize: vertical;
  }
}
