#navbar {
  position: relative;
  color: #ffff;
  #nav-child {
    position: absolute;
    right: 50px;
    form {
      display: flex;
      input {
        padding: 4px;
        margin: 0 5px;
      }
      Button {
        margin-top: 0 !important;
        margin-left: 10px;
      }
    }

    .nav-bar-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        margin: 0 10px;
        cursor: pointer;
        transition: all 0.3s ease-out;
        transform: scale(1);
        &:hover {
          transform: scale(1.1);
          transition: all 0.3s ease-in;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  /* Navbar */
  #navbar #nav-child {
    right: 10px; /* Adjust position */
  }

  #navbar #nav-child form input {
    padding: 3px;
    margin: 3px 0; /* Adjust margin */
  }

  #navbar #nav-child form Button {
    margin-top: 3px !important; /* Adjust top margin */
    margin-left: 5px; /* Adjust left margin */
  }

  #navbar #nav-child .nav-bar-icons svg {
    margin: 0 3px; /* Reduce margin */
    transform: scale(0.8); /* Adjust size */
  }
}
