#navbar {
  position: relative;
  color: #ffff;
  #nav-child {
    position: absolute;
    right: 50px;
    form {
      display: flex;
      input {
        padding: 4px;
        margin: 0 5px;
      }
      Button {
        margin-top: 0 !important;
        margin-left: 10px;
      }
    }

    .nav-bar-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        margin: 0 10px;
        cursor: pointer;
        transition: all 0.3s ease-out;
        transform: scale(1);
        &:hover {
          transform: scale(1.1);
          transition: all 0.3s ease-in;
        }
      }
    }
  }
}
